extends ../layouts/application.pug

block content
  .Wrapper
    .Key
      .Key__title
        h2
          | Profile
      .Key__content
        .Key__left
          .Key__image
            img(src="images/sugiken.jpg")
        .Key__right
          p.Key__text
            | 杉田賢人（Kento Sugita）
            br
            | 1995.08.31 愛知県生まれ
            br
            | 立教大学経営学部国際経営学科
            br
            br
            | HTML/CSS/Javascript/Jquery
            br
            | Ruby/Rails/PHP/Wordpress
            br
            | Vagrant/AWS/Docker/Mysql

          p.Key__description
            br
            br
            | webサービスの開発やグロースに興味があります。
            br
            | 最大15万pv/月の
            a(href="https://www.rep-rikkyo.com/" target="_blank")
              | 立教生向けwebサービス
            | を開発・運営。
            br
            br
            | 休日の過ごし方：ゲームとサイクリングと開発
        .clearfix

    .Career
      .Career__title
        h2
          | Career
      .Career__content
        .Career__left
          .Career__image
            img(src="images/rikkyo.png")
            img(src="images/trunk.png")
            img(src="images/jiraffe.jpeg")
        .Career__right
          ul.Career__list
            li.Career__item
              | 國學院高校
              br
              | ↓
            li.Career__item
              | 立教大学経営学部国際経営学科
              br
              | ↓
            li.Career__item
              | freee株式会社に入社予定（2019年4月より）
        .clearfix
        .Career__nenpyo
          iframe(width="100%" height="700px" seamless frameborder='0' src="https://the-timeline.jp/timelines/1oxqnvDEPBntrfqSgG42Y5mDWPjHysBmvkKFRJyABSzA?end=20200428122169&start=20160612122169")

    .Product
      .Product__title
        h2
          | Product
      .Product__content
        h3.Product__subtitle
          | 今まで開発したもの
        .Product__left
          .Product__image
            img(src="images/rep.jpg")
        .Product__right
          h4.Product__name
            | 『Rep立教大学シラバス検索システム』
          p.Product__text
            | 公式のシラバス検索システムが使いづらいため、個人開発。
            br
            | 毎年の授業データ検索とその授業にレビューを書き込める。
            br
            | 2016年から運営しており、15万pv/月を記録。絶賛成長中
            br
            | デザイン/フロント/サーバーサイド/インフラなど、全てほぼ1人で開発
            br
            | ユーザー調査を実施したり、マーケティング面も積極的に学びながら、ユーザーのWantsに応えるサービス開発を心がけている。
            br
            a(href="https://www.rep-rikkyo.com/" target="_blank")
              | Rep立教大学シラバス検索システム
        .clearfix
        .Product__left
          .Product__image
            img(src="images/rikkyo_crawler.png")
        .Product__right
          h4.Product__name
            | 『立教クローラー』
          p.Product__text
            | 「Rep」のために開発。
            br
            | 立教公式のシラバス検索システムからデータをスクレイピングする。
            br
            | クローリング対象が富士通製のシステムで、変化が少ないこともあり2年連続快適に動作している。
            br
            | Rubyと共同開発の勉強になりました。
            br
            a(href="https://github.com/SugiKent/rikkyo_crawler" target="_blank")
              | Github
        .clearfix
        p.Product__footer
          | その他、Chrome拡張やRailsでの開発など多数！
          br
          | 気になる方は
          a(href="https://www.rep-rikkyo.com/" target="_blank")
            | Github
          | をぜひご覧ください！

    .Contact
      .Contact__title
        h2
          | Contact
      .Contact__content
        h3.Contact__subtitle
          | 杉田賢人があなたにできるかもしれないこと
        ul.Contact__list
          li.Contact__item
            | webサービスや自社サイト開発
          li.Contact__item
            | エンジニアを目指す学生の勉強の手助け
          li.Contact__item
            | 自転車での書類配達
          li.Contact__item
            | その他杉田賢人にやってほしいこと
      .Contact__bottom
        a.Contact__link(href="https://twitter.com/sugiken_bike" target="_blank")
          | Feel free to DM!!
