@import '../common/color';
@import url('https://fonts.googleapis.com/css?family=Ubuntu:700');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
  color: $light-black;
}

p,li {
  font-weight: bold;
  letter-spacing: 0.03em;
}

.Wrapper {
  width: 100%;
}

.clearfix {
  clear: both;
}
